<%- include("./partials/header") -%>

<h1>Home</h1>
<p><%=homeStartingContent%></p>

<% posts.forEach(post => { %>
<h1><%=post.title %></h1>
<% const truncate = post.content.substring(0, 300) %>
<p>
    <!-- <%=post.content %> -->
    <%=truncate %>
    <a href="/posts/<%= post._id %>">Read More</a>
</p>
<% }) %>

<!---->

<%- include("./partials/footer"); -%>
